/*
 * Body
 */
body{
  min-height: 100vh;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

/* .site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
} */

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

/*
* Social Links
*/

.pl-3, .px-3{
  padding-bottom: 1rem!important;
}
.pr-3, .px-3{
  padding-bottom: 1rem!important;
}
.pt-3, .py-3{
  padding-bottom: 1rem!important;
}
.skin {
 margin-top: 3rem;
 margin-right: auto;
 margin-left: auto;
 width: 400px;
 height: 200px;
-webkit-border-bottom-right-radius: 400px;
-webkit-border-bottom-left-radius: 400px;
-moz-border-radius-bottomright: 400px;
-moz-border-radius-bottomleft: 400px;
 border-bottom-left-radius: 400px;
 border-bottom-right-radius: 400px;
 box-shadow: 2px 2px 5px black;
 background-color: #ccff90;
 transition: all 1s;
 cursor: pointer;
}


.skin .flesh {
 margin-right: auto;
 margin-left: auto;
 width: 350px;
 height: 180px;
 background-color: #ff8a80;
 -webkit-border-bottom-right-radius: 350px;
-webkit-border-bottom-left-radius: 350px;
-moz-border-radius-bottomright: 350px;
-moz-border-radius-bottomleft: 350px;
 border-bottom-left-radius: 350px;
 border-bottom-right-radius: 350px;
}

.skin .flesh .seeds-container {
 width: 350px;
 height: 180px;
 -webkit-border-bottom-right-radius: 350px;
-webkit-border-bottom-left-radius: 350px;
-moz-border-radius-bottomright: 350px;
-moz-border-radius-bottomleft: 350px;
 border-bottom-left-radius: 350px;
 border-bottom-right-radius: 350px;
 overflow: hidden;
}

.skin .flesh .seeds-container .seed {
 margin-left: 15%;
 margin-top: 10%;
 display: inline-block;
 width: 8px;
 height: 4px;
 background-color: black;
-ms-transform: rotate(60deg);
-webkit-transform: rotate(60deg);
 transform: rotate(60deg);
}

.skin:hover {
 -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
 transform: scale(1.1);
}

.list-group a {
  background-color: #ff8a80;
  color: white;
}
.card-title a {
  color:#ff8a80;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
